Package: fcitx-mozc-dbgsym
Package-Type: ddeb
Source: mozc
Version: 2.26.4220.100+dfsg-4.1ubuntu0.1pop0~1635283403~21.10~2cb9842
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 3665
Depends: fcitx-mozc (= 2.26.4220.100+dfsg-4.1ubuntu0.1pop0~1635283403~21.10~2cb9842)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for fcitx-mozc
Build-Ids: e87641acfc548ea55229556cc2c6954b94043deb
