Package: emacs-mozc-bin
Source: mozc
Version: 2.26.4220.100+dfsg-4.1ubuntu0.1pop0~1635283403~21.10~2cb9842
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 560
Depends: libabsl20200923 (>= 0~20200923-1), libc6 (>= 2.34), libprotobuf23 (>= 3.12.4), libstdc++6 (>= 5.2), mozc-server (= 2.26.4220.100+dfsg-4.1ubuntu0.1pop0~1635283403~21.10~2cb9842)
Section: utils
Priority: optional
Homepage: https://github.com/google/mozc.git
Description: Helper module for emacs-mozc
 Mozc is a Japanese Input Method Editor (IME) designed for multi-platform
 such as Chromium OS, Windows, Mac and Linux.
 .
 This package provides the helper module to the GNU Emacs.
 .
 This open-source project originates from Google Japanese Input.
