Package: emacs-mozc-bin-dbgsym
Package-Type: ddeb
Source: mozc
Version: 2.26.4220.100+dfsg-4.1ubuntu0.1pop0~1635283403~21.10~2cb9842
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 2728
Depends: emacs-mozc-bin (= 2.26.4220.100+dfsg-4.1ubuntu0.1pop0~1635283403~21.10~2cb9842)
Section: debug
Priority: optional
Description: debug symbols for emacs-mozc-bin
Build-Ids: 14162d3ca7bba9b89b092cd0d1fe054616d45d6d
